<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

RewriteCond %{HTTP_REFERER} !^http://1tapcard.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://1tapcard.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://1tapcard.one/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://1tapcard.one$      [NC]
RewriteCond %{HTTP_REFERER} !^http://3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://admin.1tapcard.one/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://admin.1tapcard.one$      [NC]
RewriteCond %{HTTP_REFERER} !^http://admin.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://admin.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://admin.instaquotesmaker.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://admin.instaquotesmaker.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://aicollagemaker.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://aicollagemaker.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://aiphotomaker.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://aiphotomaker.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://aiwallpaper.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://aiwallpaper.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://app.1tapcard.one/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://app.1tapcard.one$      [NC]
RewriteCond %{HTTP_REFERER} !^http://babyframeshub.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://babyframeshub.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://flutterwebnode.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://flutterwebnode.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://instaquotesmaker.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://instaquotesmaker.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jwshope.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jwshope.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mainphotoframe.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mainphotoframe.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ncrt.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ncrt.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ngdemployee.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ngdemployee.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://projectmanage.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://projectmanage.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ravertagz.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ravertagz.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rkprime.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rkprime.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://trpmanagement.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://trpmanagement.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.1tapcard.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.1tapcard.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.1tapcard.one/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.1tapcard.one$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.admin.1tapcard.one/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.admin.1tapcard.one$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.admin.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.admin.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.admin.instaquotesmaker.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.admin.instaquotesmaker.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.aicollagemaker.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.aicollagemaker.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.aiphotomaker.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.aiphotomaker.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.aiwallpaper.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.aiwallpaper.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.app.1tapcard.one/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.app.1tapcard.one$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.babyframeshub.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.babyframeshub.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.flutterwebnode.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.flutterwebnode.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.instaquotesmaker.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.instaquotesmaker.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jwshope.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jwshope.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mainphotoframe.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mainphotoframe.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ncrt.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ncrt.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ngdemployee.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ngdemployee.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.projectmanage.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.projectmanage.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ravertagz.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ravertagz.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rkprime.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rkprime.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.trpmanagement.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.trpmanagement.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://1tapcard.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://1tapcard.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://1tapcard.one/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://1tapcard.one$      [NC]
RewriteCond %{HTTP_REFERER} !^https://3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://admin.1tapcard.one/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://admin.1tapcard.one$      [NC]
RewriteCond %{HTTP_REFERER} !^https://admin.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://admin.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://admin.instaquotesmaker.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://admin.instaquotesmaker.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://aicollagemaker.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://aicollagemaker.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://aiphotomaker.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://aiphotomaker.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://aiwallpaper.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://aiwallpaper.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://app.1tapcard.one/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://app.1tapcard.one$      [NC]
RewriteCond %{HTTP_REFERER} !^https://babyframeshub.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://babyframeshub.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://flutterwebnode.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://flutterwebnode.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://instaquotesmaker.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://instaquotesmaker.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jwshope.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jwshope.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mainphotoframe.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mainphotoframe.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ncrt.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ncrt.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ngdemployee.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ngdemployee.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://projectmanage.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://projectmanage.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ravertagz.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ravertagz.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rkprime.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rkprime.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://trpmanagement.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://trpmanagement.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.1tapcard.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.1tapcard.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.1tapcard.one/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.1tapcard.one$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.admin.1tapcard.one/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.admin.1tapcard.one$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.admin.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.admin.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.admin.instaquotesmaker.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.admin.instaquotesmaker.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.aicollagemaker.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.aicollagemaker.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.aiphotomaker.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.aiphotomaker.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.aiwallpaper.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.aiwallpaper.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.app.1tapcard.one/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.app.1tapcard.one$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.babyframeshub.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.babyframeshub.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.flutterwebnode.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.flutterwebnode.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.instaquotesmaker.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.instaquotesmaker.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jwshope.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jwshope.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mainphotoframe.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mainphotoframe.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ncrt.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ncrt.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ngdemployee.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ngdemployee.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.projectmanage.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.projectmanage.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ravertagz.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ravertagz.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rkprime.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rkprime.3ftechnolabs.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.trpmanagement.3ftechnolabs.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.trpmanagement.3ftechnolabs.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

php_value max_file_uploads 1000
php_value post_max_size 256M
php_value upload_max_filesize 256M
php_value memory_limit 512M
php_value max_input_vars 5000
